@model Comment

<div class="row p-0 align-items-stretch rounded-3 row-gap-3 bg-dark comment-container">
    <div class="col-1 post-user rounded-end-3">
        <a asp-controller="Home" asp-action="User" asp-route-name="@Model.User.name" class="post-user-text text-uppercase">
            @Model.User.name
        </a>
    </div>
    <div class="col">
        <p class="mt-2">
            <a asp-controller="Post" asp-action="Index" asp-route-subspaceName="@Model.Post!.subspace!.name" asp-route-id="@Model.postId" asp-route-slug="@Model.Post.slug" class="date">
                @Model.creationDate
            </a>
        </p>
        <p class="lead">@Model.content</p>
    </div>
</div>
