@{
    string currentUrl = Context.Request.GetEncodedUrl();
}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body class="container bg-dark text-light rounded">
    <header class="row">
        <nav class="navbar navbar-expand-lg navbar-dark mt-4 mb-3">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                    Home
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <form asp-controller="Home" asp-action="Search" method="get" role="search" class="d-flex bg-dark navbar-search-form" data-bs-theme="dark">
                        <div class="input-group">
                            <select class="form-select" name="subspaceId">
                                <!option value="0" @(ViewBag.searchSubspaceId == 0 ? "selected" : "") >
                                    (all)
                                </!option>
                                @foreach (Subspace subspace in ViewBag.popularSubspaces)
                                {
                                    <!option value="@subspace.id" @(ViewBag.searchSubspaceId == subspace.id ? "selected" : "") >
                                        @subspace.name
                                    </!option>
                                }
                            </select>
                            <input type="search" class="form-control" placeholder="Search" aria-label="Text input with segmented dropdown button" name="query" value="@ViewBag.searchQuery" autocomplete="off">
                            <button type="submit" class="btn btn-outline-success">
                                <span class="bi bi-rocket"></span> Go
                            </button>
                        </div>
                    </form>
                    <ul class="navbar-nav">
                        @if (ViewBag.currentUser == null)
                        {
                            <li class="nav-item">
                                <a asp-area="Account" asp-controller="Account" asp-action="Login" asp-route-returnTo="@currentUrl" class="nav-link">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Account" asp-controller="Account" asp-action="Register" asp-route-returnTo="@currentUrl" class="nav-link">
                                    Register
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="User" asp-route-name="@ViewBag.currentUser.name" class="nav-link">
                                    Logged in as @ViewBag.currentUser.name
                                </a>
                            </li>
                            <li class="nav-item">
                                <form asp-area="Account" asp-controller="Account" asp-action="Logout" asp-route-returnTo="@currentUrl" method="post" class="d-flex">
                                    <button type="submit" class="btn btn-outline-danger">
                                        Logout
                                    </button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <div class="container row mt-3">
        <div class="footer-container">
            <div class="footer">
                <div class="footer-text">
                    &copy; @DateTime.Now.Year Yasin, Rohan, &amp; Luke
                </div>
            </div>
        </div>
    </div>
</body>
</html>
