@model Post
<div class="row container p-0 align-items-center rounded-3 row-gap-3 shadow-lg">
    <div class="col-1 post-user align-items-center rounded-end-3  ">
        <a asp-controller="Home" asp-action="User" asp-route-id="@Model.User.id" class="post-user-text text-uppercase">
        @Model.User.name
        </a>
    </div>
    <div class="col ">

        <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.id" class="Title text-uppercase">
            @Model.title
        </a>

        <a class="Post-subspace" asp-controller="Home" asp-action="Subspace" asp-route-name="@Model.Subspace.name">
            @Model.Subspace.name
        </a>

        <p class="date">
            @Model.creationDate
        </p>

        <p class="lead">
            @Model.content
        </p>
    </div>

</div>
