@model Post

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">

       <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.id" class="Title">
                @Model.title
        </a>

        <a asp-controller="Home" asp-action="Subspace" asp-route-id="@Model.forumId">
            @Model.Subspace.name
        </a>
    <p>
        @Model.creationDate
    </p>

        <a asp-controller="Home" asp-action="User" asp-route-id="@Model.User.id">
            @Model.User.name
        </a>

        <p class="lead">
            @Model.content
        </p>

</div>
