@model List<Post>
@{
    ViewData["Title"] = "Spacer";
}

<div class="row">
    <h1 class="col-9">
        @ViewData["Title"]
    </h1>
    @if (ViewBag.currentUser != null)
    {
        <div class="col-3 d-flex align-items-center">
            <a asp-controller="Post" asp-action="New" class="btn btn-primary">
                &plus; New Post
            </a>
        </div>
    }
</div>

<div class="row">
    <div class="col-9">
        @foreach (Post post in Model)
        {
            <li>
                    <a asp-controller="Home" asp-action="Subspace" asp-route-name="@post.Subspace.name">@post.Subspace.name</a>
            </li>
        }
      </ul>
    </div>


<div class="row container row-gap-3">
    @foreach (Post post in Model)
    {
        @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
    }
        
    </div>
    <div class="col-3 p-2">
        <h2>
            Popular Subspaces
        </h2>
        <ul>
        @foreach (var subspace in ViewBag.popularSubspaces)
        {
                    <li>
                        <a asp-controller="Home" asp-action="Subspace" asp-route-id="@subspace.id">@subspace.name</a>
                    </li>
        }
        </ul>
    </di>
</div>
