@model User
@{
    ViewData["Title"] = Model.name;
}

<div class="profile-header mb-4 p-3 rounded">
    <h2 class="mb-0 text-uppercase">
        @ViewData["Title"]
    </h2>
</div>

@if (ViewBag.currentUser != null && Model.id == ViewBag.currentUser.id)
{
    <div>
        <a asp-controller="Post" asp-action="Add" class="btn btn-primary">
            &plus; Add Post
        </a>
    </div>
}

<nav class="d-flex mb-3 border-bottom box-shadow">
    <a asp-controller="Home" asp-action="User" asp-route-section="posts"
        class="p-3 link-light @(ViewBag.section == "posts" ? "text-success" : "")">
        <i class="fas fa-pen"></i> Posts
    </a>
    <a asp-controller="Home" asp-action="User" asp-route-section="comments"
        class="p-3 link-light @(ViewBag.section == "comments" ? "text-success" : "")">
        <i class="fas fa-comment"></i> Comments
    </a>
</nav>

<div class="ms-2 row container row-gap-3">
    @if (ViewBag.section == "posts")
    {
        <div class="mt-2">
            @Model.posts.Count post@(Model.posts.Count == 1 ? "" : "s")
        </div>
        if (Model.posts.Count > 0)
        {
            foreach (Post post in Model.posts)
            {
                @await Html.PartialAsync("~/Views/Shared/_Post.cshtml", post)
            }
        }
    }
    else
    {
        <div class="mt-2">
            @Model.comments.Count comment@(Model.comments.Count == 1 ? "" : "s")
        </div>
        if (Model.comments.Count > 0)
        {
            foreach (Comment comment in Model.comments)
            {
                @await Html.PartialAsync("~/Views/Shared/_Comment.cshtml", comment)
            }
        }
    }
</div>
